---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <img src="../assets/images/landing.jpg">

  <div class="contenitore-text">
    <br>
    Lo studio di progettazione dell'ingegner Santo Tonoli nasce nel <b>1981</b>.
    <br>Da allora si occupa di progettazione e realizzazione di opere di edilizia civile ed industriale, con committenti privati e pubblici.
    <br>Lo studio è in grado di seguire, con serietà e competenza, ogni fase di realizzazione di un'opera: progettazione architettonica, strutturale, 
    impiantistica, direzione dei lavori e coordinamento della sicurezza. 
    <br>Nella sua attività, si è occupato della progettazione e realizzazione di complessi residenziali, ville, edifici industriali, uffici, 
    complessi polifunzionali, edilizia scolastica, strade ed opere di urbanizzazione. 
    Un importante settore dell'attività è dato dal <b>restauro</b> e consolidamento di edifici storici e monumentali, tra i quali chiese e campanili.
    <br>In campo strutturale, ha maturato una particolare esperienza nella <b>progettazione antisismica</b> di opere in cemento armato e muratura, 
    nella verifica del livello di sicurezza e nel <b>consolidamento</b> di edifici ed infrastrutture di importanza rilevante e strategica, ivi compresi musei, 
    edifici di culto e sbarramenti fluviali.
    <br>Nell'<b>industria</b>, ha realizzato fondazioni di macchine utensili di grandi dimensioni aventi particolari esigenze di stabilità 
    dell'assetto per garantire lavorazioni di precisione (centri di lavoro, alesatrici, fresatrici, torni), fosse per cabine di verniciatura e pavimentazioni 
    industriali in calcestruzzo soggette a carichi straordinari. 
    <br>Adeguandosi all'evolvere delle conoscenze tecniche e della legislazione italiana, lo studio ha approfondito alcuni campi della tradizionale attività,
    occupandosi di progettazione di "<b>edifici ad energia quasi zero (NZEB)</b>" (case passive, sostenibili) e di certificazione energetica.
  </div>

</div>
