---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Lo Studio</h2>

  <img class="landing-image" src="../assets/images/landing.jpg">


  <div class="contenitore-text">
    Lo studio di progettazione nasce nel <b>1981</b>.
    <br>
    Da allora si occupa di progettazione e realizzazione di opere di edilizia
    civile ed industriale, con committenti privati e pubblici.
    <br>
    Lo studio segue, con competenza, ogni fase di realizzazione di un'opera:
    progettazione architettonica, strutturale, impiantistica, direzione dei
    lavori e coordinamento della sicurezza.
    <br>
    Nella sua attività, si è occupato della progettazione e realizzazione di
    complessi residenziali, ville, edifici industriali, uffici, complessi
    polifunzionali, edilizia scolastica, strade ed opere di urbanizzazione. Un
    importante settore dell'attività è dato dal <b>restauro</b> e consolidamento di
    edifici storici e monumentali, tra i quali chiese e campanili.
    <br>
    In campo strutturale, ha maturato una particolare esperienza
    nella <b>progettazione antisismica</b> di opere in cemento armato e muratura,
    nella verifica del livello di sicurezza e nel <b>consolidamento</b> di edifici ed
    infrastrutture di importanza rilevante e strategica, ivi compresi musei,
    edifici di culto e sbarramenti fluviali.
    <br>
    Nell'<b>industria</b>, ha realizzato fondazioni di macchine utensili di grandi
    dimensioni, garantendo piccolissime deformazioni sotto carico per
    consentire lavorazioni di precisione (centri di lavoro, alesatrici, fresatrici,
    torni), fosse per cabine di verniciatura e pavimentazioni industriali in
    calcestruzzo soggette a carichi straordinari.
    <br>
    Lo studio ha approfondito alcuni campi della tradizionale attività
    sviluppatisi in tempi recenti, occupandosi di progettazione e realizzazione
    di "<b>edifici ad energia quasi zero(NZEB)</b>".
</div>

</div>
