---
layout: default
---
<!-- <article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article> -->

<div class="row">
  <div class="col-sm-8">
    <div class="contenitore-text">
      L'ingegner <b>Santo Tonoli</b> nasce a Botticino, in provincia di Brescia, nell'Ottobre 1955.
      <br>
      Si laurea nell'Aprile del 1980 al <b>Politecnico di Milano in Ingegneria Civile</b>, sezione Edile, 
      indirizzo Strutturistico, con una tesi sviluppata nel corso di Ponti e Grandi strutture e consegue, 
      nello stesso anno, l'abilitazione all'esercizio della professione.
      <br>
      Dopo aver prestato il servizio militare in aeronautica, nel 1981 intraprende la <sb>libera attività</b>. 
      L'iniziale <b>collaborazione</b> con altri professionisti alla realizzazione di rilevanti opere, 
      tra le quali la ricostruzione post-terremoto del Friuli e dell'Irpinia, strutture per stabilimenti 
      siderurgici e di edilizia civile, gli consente di mettere a frutto le proprie conoscenze 
      e di fare esperienza, soprattutto nel campo della <b>progettazione strutturale</b>.
      <br>
      Dal 1982 si dedica, in modo esclusivo, allo svolgimento della libera professione nel proprio studio, 
      coadiuvato a vario titolo da ingegneri ed architetti.
      Negli anni post-laurea ha seguito numerosi corsi di <b>aggiornamento</b> e nuovi insegnamenti, 
      sia in ambito architettonico che ingegneristico, integrando progressivamente, 
      nella sfera della propria attività, la progettazione architettonica, il restauro ed il consolidamento
      di edifici storici e monumentali.
  </div>
  </div>
  <div class="col-sm-4">
    <img style="display: block; margin-left:auto; margin-right: auto;" 
    src="../assets/images/foto_profilo.png">
  </div>
</div>