---
layout: default
---

{% assign collection =  site.collections | where: "label", page.works | first %}

<h2>
    {{ page.path-title }}
</h2>

<ul class="post-list row">
    {%- for node in collection.docs -%}
    <li class="col-sm-6 col-md-4">
        <div class="box">
            <a href="{{ node.url | relative_url }}">
            {{ node.title | escape }}
            </a>
        </div>

        <a href="{{ node.url | relative_url }}">
            <img class="work-preview" src="{{ node.preview }}">
        </a>
    </li>
    {%- endfor -%}
</ul>