---
layout: default
---

{% assign collection =  site.collections | where: "label", page.works | first %}

{% for node in collection.docs %}
{% endfor %}

<ul class="post-list row">
    {%- for node in collection.docs -%}
    <li class="col-sm-6 col-md-4">
        <h3>
            <a class="post-link" href="{{ node.url | relative_url }}">
            {{ node.title | escape }}
            </a>
        </h3>

        <a href="{{ node.url | relative_url }}">
            <img class="work-preview" src="{{ node.dir }}/{{ node.preview }}">
        </a>
    </li>
    {%- endfor -%}
</ul>